
  .footer{
    margin-top:30px;
    border:1px solid transparent;
    background-color:#e6e6e6;
    
  }
  .f_u{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    width:100%;
    height:25
    
    0px;
    padding:5px;
    justify-content:space-between;
    align-items:center;
    font-family: futura,sans-serif;
  }
  .f_l{
    width:100%;
    height:200px;
    text-align:center;
    font-size:10px;
    font-family: futura,sans-serif;
  }
  .first{
    align-items:left;
    font-size:15px;
    font-family: futura,sans-serif;
  }
  .second{
    align-items:left;
    font-size:15px;
    font-family: futura,sans-serif;
    margin-top:30px;
  }
  .inner{
    display:flex;
    gap:30px;
  }
  .icons{
    /* margin:5px; */
    display:flex;
    width:40px;
    border:1px solid transparent;
    justify-content:space-between;
  }
  .inp{
    width:68%;
    height:30px;
    margin-bottom:5px;
  }
  .btn{
    width:70%;
    height:30px;
    background-color:black;
    color:white;
    font-size:15px;
    outline:none;
    margin-bottom:5px;
    font-family: futura,sans-serif;
  }
  .logo1{
    width:300px;
    height:100px;
    text-align: center;
  }
  .head{
    letter-spacing: 5px;
  }
  